	html{
				overflow:hidden;
			}
			.bottomContent{
				position:fixed;
				bottom:0rem;
				left:0;
				width: 100%;
				height:5rem;
				padding-bottom:3rem;
				padding-top:0rem;
			}
			.mui-input-row{
				padding: 0;
				margin: 0;
			}
			#speechMsg{
				margin: 0;
				padding: 0;
				background:white;
				position: absolute;
				right:3rem;
				bottom:0.1rem;
			}
			.send{
			  color:#49A849;
			}
			body{
				height: 100%;
				overflow:hidden;
			}
			.talkNews{
				overflow-y:scroll;
				padding-bottom:6rem;
			}
			.friendNews{
				width: 100%;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding:1rem 0.8rem;
				position:relative;
			}
			.friendNews>img{
				width: 3.5rem;
				height: 3.5rem;
			}
			.myNews{
				width:100%;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding:1rem 0.8rem;
			}
			.myNews>img{
				width: 3.5rem;
				height: 3.5rem;
				
			}
			.myNews>span{
				max-width:70%;
				margin-right:1rem;
				min-height:2.5rem;
				word-wrap: break-word;
				color:white;
				margin-top:0.4rem;
				padding:0rem 1rem 0rem 1rem;
				line-height:2.5rem;
				margin-left:1rem;
				display:inline-block;
				background:#4682B4;
				border-radius:1rem;
				float: right;
				position: relative;
			}
			.myNews>span>span{
				position:absolute;   
			    width:0px;  
			    height:0px;  
			    border-width:1rem 1rem 1rem 1rem;  
			    border-style:solid;  
			    border-color:transparent transparent transparent #4682B4;  
			    top:0.4rem; 
			    right:-1.3rem;  
			    z-index:0;
			}
			.myNews:after{
				display:block;
				content:"";
				clear:both;
			}
			.friendNews>span{
				display:block;
				max-width:70%;
				min-height:2.5rem;
				word-wrap: break-word;
				color:white;
				margin-top:0.4rem;
				padding:0rem 1rem 0rem 1rem;
				line-height:2.5rem;
				margin-left:1rem;
				display:inline-block;
				background:#49A849;
				border-radius:1rem;
			}
			.friendNews>span:before{
				position:absolute;  
			    content:"\00a0";  
			    width:0px;  
			    height:0px;  
			    border-width:1rem 1rem 1rem 0;  
			    border-style:solid;  
			    border-color:transparent #49A849 transparent transparent;  
			    top:1.8rem; 
			    left:4.9rem;  
			    z-index:0;
			}