#send{
				float: right;
			}
			.mui-action-back{
				color:white;
			}
			.groupMenu{
				margin-top:1rem;
			}
			.headerTitle>a{
				margin-top:0.8rem;
			}
			#msg{
				background:transparent;
				border:transparent;
			}
			img{
				width: 5rem;
				height: 5rem;
				margin-top:1rem;
				margin-right:0.5rem;
			}
			.imgLst{
				display:flex;
				flex-wrap: wrap;
				align-items:center;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding:2rem 0.5rem;
			}
			.iconSpan{
				margin-right:1rem;
			}